@import "../../../scss/variables.scss";

.title {
  color: $darkestMainColor;
  font-family: "Courgette", cursive;
}

.big-text {
  font-size: 2rem;
}

.container {
  max-width: $pageWidth;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  div{
      margin: 0 1rem;
  }
}

.navigation {
  display: flex;
  gap: 1rem;

  span {
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
  }

  span:hover,
  span:focus {
    color: $darkerMainColor;
  }
}
