@import "../../scss/variables.scss";

.container {
  max-width: $pageWidth;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  span{
      font-size: 1.5rem;
      padding: 0 8px;
      text-align: center;
  }
}

app-layout-basic {
  height: 100%;
  display: block;
}
