@import "../../../scss/variables.scss";

.container{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

main {
  height: fit-content;
  width: $pageWidth;
  margin-bottom: auto;
  /* min-height: calc(100% - 128px); */
  width: 100%;
}

app-footer, app-header {
  width: 100%;
}

app-header {
  height: 74px;
}

app-footer {
  height: 54px;
}
