<div class="container">
  @if (loading) {
    @for (index of skeletonCards; track index) {
      <div class="anime-block">
        <div class="skeleton img"></div>
        <div>
          @for (index of skeletonLines; track index) {
            <div class="skeleton skeleton-text"></div>
          }
        </div>
      </div>
    }
  } @else {
    @for (anime of (animes | async) ?? []; track anime.url) {
      <div
        [@fade]="'active'"
        class="anime-block"
        (click)="onAnimeClick(anime.url)"
        (keyup.enter)="onAnimeClick(anime.url)"
        tabindex="0"
      >
        <img
          class="img"
          src="{{ anime.images.jpg.image_url }}"
          alt="{{ anime.title + ' front image' }}"
        />
        <div>
          <div class="anime-title">{{ anime.title }}</div>
          @if (anime.score) {
            <div>Score {{ anime.score }}</div>
          }
        </div>
      </div>
    }
  }
</div>
